<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- begin::Head -->
  <head>
    <base href="../" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CODE X-footer</title>
  </head>
  <!-- end::Head -->

  <div th:fragment="footer">
    <div class="kt-container kt-container--fluid">
      <div class="kt-footer__copyright">
        <span
          >2020&nbsp;&copy;&nbsp;<a href="****" target="_blank" class="kt-link"
            >*****</a
          ></span
        >
      </div>

      <div class="kt-footer__menu">
        <span
          ><a href="javascript:void(0);" class="kt-footer__menu-link kt-link"
            >About</a
          ></span
        >
        &emsp;
        <span
          ><a href="javascript:void(0);" class="kt-footer__menu-link kt-link"
            >Contact</a
          ></span
        >
      </div>
    </div>
  </div>
</html>
