<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- begin::Head -->
  <head>
    <base href="../" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CODE X</title>
  </head>
  <!-- end::Head -->

  <div th:fragment="content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container kt-container--fluid">
        <!-- begin::breadcrumbs -->
        <div class="kt-subheader__main">
          <div class="kt-subheader__breadcrumbs">
            <a href="/" class="kt-subheader__breadcrumbs-home"
              ><i class="fad fa-home-lg"></i
            ></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:void(0);" class="kt-subheader__breadcrumbs-link"
              >FORGOT PASSWORD</a
            >
          </div>
        </div>
        <!-- end::breadcrumbs -->

        <!-- begin::toolbar -->

        <!-- end::toolbar -->
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Main content -->
    <div
      class="
        kt-container kt-container--fluid
        kt-grid__item kt-grid__item--fluid
      "
    >
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              <span th:text="#{menu.label.forgot_password}"
                >Forgot password</span
              >
            </h3>
          </div>
        </div>

        <form
          class="kt-form kt-form--label-right"
          id="form_reset_password"
          autocomplete="off"
          method="post"
          action="/forgot_password"
        >
          <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
              <div class="kt-section__body">
                <div class="alert alert-secondary" role="alert">
                  <div class="alert-icon">
                    <i class="flaticon-warning kt-font-brand"></i>
                  </div>
                  <div class="alert-text">
                    <span
                      th:text="#{menu.label.provide_unique_email_full_name}"
                    ></span>
                  </div>
                </div>

                <div class="row"></div>

                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label"
                    >Email Address</label
                  >
                  <div class="col-lg-9 col-xl-6">
                    <input
                      type="text"
                      class="form-control"
                      id="input_email"
                      name="email"
                      placeholder=""
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    class="col-xl-3 col-lg-3 col-form-label"
                    th:text="#{menu.label.first_name}"
                    >First Name</label
                  >
                  <div class="col-lg-9 col-xl-6">
                    <input
                      type="text"
                      class="form-control"
                      id="input_firstName"
                      name="firstName"
                      placeholder=""
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    class="col-xl-3 col-lg-3 col-form-label"
                    th:text="#{menu.label.last_name}"
                    >Last Name</label
                  >
                  <div class="col-lg-9 col-xl-6">
                    <input
                      type="text"
                      class="form-control"
                      id="input_lastName"
                      name="lastName"
                      placeholder=""
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="kt-portlet__foot">
            <div class="kt-form__actions">
              <div class="row">
                <div class="col-lg-3 col-xl-3">
                  <button
                    type="reset"
                    class="btn btn-secondary"
                    value="Reset"
                    id="btn_cancel"
                    onclick="cancel();"
                  >
                    <span th:text="#{menu.button.cancel}">Cancel</span>
                  </button>
                </div>
                <div class="col-lg-9 col-xl-9">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    style="float: right"
                  >
                    <span th:text="#{menu.button.submit}">Submit</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- end:: Main content -->

    <script>
      var hashcode = "[[${hashcode}]]";

      jQuery(document).ready(function () {
        if (hashcode.length > 0) {
          alert(hashcode);

          hashcode = null;
        }
      });
    </script>
  </div>
</html>
