<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- begin::Head -->
  <head>
    <base href="../" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CODE X</title>
  </head>
  <!-- end::Head -->

  <div th:fragment="content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container kt-container--fluid">
        <!-- begin::breadcrumbs -->
        <div class="kt-subheader__main">
          <div class="kt-subheader__breadcrumbs">
            <a href="/" class="kt-subheader__breadcrumbs-home"
              ><i class="fad fa-home-lg"></i
            ></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="javascript:void(0);" class="kt-subheader__breadcrumbs-link"
              >RESET PASSWORD</a
            >
          </div>
        </div>
        <!-- end::breadcrumbs -->

        <!-- begin::toolbar -->

        <!-- end::toolbar -->
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Main content -->
    <div
      class="
        kt-container kt-container--fluid
        kt-grid__item kt-grid__item--fluid
      "
    >
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Reset password</h3>
          </div>
        </div>

        <form
          class="kt-form kt-form--label-right"
          id="form_reset_password"
          autocomplete="off"
          method="post"
          action="/reset_password"
          th:object="${objUser}"
        >
          <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
              <div class="kt-section__body">
                <div class="alert alert-secondary" role="alert">
                  <div class="alert-icon">
                    <i class="flaticon-warning kt-font-brand"></i>
                  </div>
                  <div class="alert-text">
                    <span>Hello!</span>
                    <span
                      th:text="${objUser.firstName + ' ' + objUser.lastName + ', '}"
                    ></span>
                    please provide your new password!! The password should be
                    case-sensitive.
                  </div>
                </div>

                <div class="row"></div>

                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label"
                    >Your Email Address</label
                  >
                  <div class="col-lg-9 col-xl-6">
                    <input
                      type="text"
                      class="form-control"
                      id="input_email"
                      name="email"
                      th:value="${objUser.email}"
                      placeholder=""
                      readonly
                    />
                    <span class="form-text text-muted"
                      >Email will not be publicly displayed.
                      <a
                        href="javascript:void(0);"
                        class="kt-link"
                        tabindex="-1"
                        >Learn more</a
                      >.
                    </span>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label"
                    >New password</label
                  >
                  <div class="col-lg-9 col-xl-6">
                    <input
                      type="password"
                      class="form-control"
                      id="input_password"
                      th:name="password"
                      placeholder=""
                      required
                    />
                    <code th:text="#{messages.warning.05}"></code>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label"
                    >Confirm password</label
                  >
                  <div class="col-lg-9 col-xl-6">
                    <input
                      type="password"
                      class="form-control"
                      id="input_password_confirm"
                      th:name="passwordConfirm"
                      placeholder=""
                      required
                    />
                  </div>
                </div>

                <input
                  type="hidden"
                  name="firstName"
                  th:value="${objUser.firstName}"
                /><input
                  type="hidden"
                  name="lastName"
                  th:value="${objUser.lastName}"
                />
              </div>
            </div>
          </div>

          <div class="kt-portlet__foot">
            <div class="kt-form__actions">
              <div class="row">
                <div class="col-lg-3 col-xl-3">
                  <a
                    href="/"
                    type=" button"
                    class="btn btn-secondary"
                    id="btn_cancel"
                    >Cancel</a
                  >
                </div>
                <div class="col-lg-9 col-xl-9">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    style="float: right"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- end:: Main content -->

    <script>
      var arrows = {
        leftArrow: '<i class="la la-angle-left"></i>',
        rightArrow: '<i class="la la-angle-right"></i>',
      };

      jQuery(document).ready(function () {
        $("#input_expiryDate").datepicker({
          todayBtn: "linked",
          clearBtn: true,
          todayHighlight: false,
          orientation: "bottom left",
          templates: arrows,
          format: "yyyy-mm-dd",
          forceParse: 0,
        });
      });

      function setUnknown() {
        $("#input_expiryDate").val("0000-00-00");
      }

      var pattern1 = /[a-z]/;
      var pattern2 = /[A-Z]/;
      var pattern3 = /[0-9]/;
      var pattern4 = /[!@#$%^*_-]/;
      $("#input_password").on("change", function () {
        var value = $("#input_password").val();
        var test1 = pattern1.test(value);
        var test2 = pattern2.test(value);
        var test3 = pattern3.test(value);
        var test4 = pattern4.test(value);

        if (value.length < 8 || value.length > 20) {
          swal
            .fire({
              title: "[[#{messages.warning.05}]]",
              icon: "error",
              backdrop: false,
              showCancelButton: false,
              confirmButtonText: "OK",
            })
            .then(function (result) {
              $("#input_password").val("");
            });
        }

        if (!test1 || !test2 || !test3 || !test4) {
          swal
            .fire({
              title: "[[#{messages.warning.05}]]",
              icon: "error",
              backdrop: false,
              showCancelButton: false,
              confirmButtonText: "OK",
            })
            .then(function (result) {
              $("#input_password").val("");
            });
        }
      });

      $("#input_password_confirm").on("change", function () {
        var value = $("#input_password_confirm").val();
        var test1 = pattern1.test(value);
        var test2 = pattern2.test(value);
        var test3 = pattern3.test(value);
        var test4 = pattern4.test(value);

        if (value.length < 8 || value.length > 20) {
          swal
            .fire({
              title: "[[#{messages.warning.05}]]",
              icon: "error",
              backdrop: false,
              showCancelButton: false,
              confirmButtonText: "OK",
            })
            .then(function (result) {
              $("#input_password_confirm").val("");
            });
        }

        if (!test1 || !test2 || !test3 || !test4) {
          swal
            .fire({
              title: "[[#{messages.warning.05}]]",
              icon: "error",
              backdrop: false,
              showCancelButton: false,
              confirmButtonText: "OK",
            })
            .then(function (result) {
              $("#input_password_confirm").val("");
            });
        }
      });
    </script>
  </div>
</html>
