<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- begin::Head -->
  <head>
    <base href="../" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CODE X</title>
  </head>
  <!-- end::Head -->

  <div th:fragment="content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container kt-container--fluid">
        <!-- begin::breadcrumbs -->
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">Dashboard</h3>
          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"
              ><i class="fad fa-home-lg"></i
            ></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link"> Dashboards </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="" class="kt-subheader__breadcrumbs-link">CRF</a>
          </div>
        </div>
        <!-- end::breadcrumbs -->

        <!-- begin::toolbar -->
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <a
              href="#"
              class="btn btn-icon btn btn-label btn-label-brand btn-bold"
              data-toggle="kt-tooltip"
              title="Reports"
              data-placement="top"
              ><i class="flaticon2-writing"></i
            ></a>
            <a
              href="#"
              class="btn btn-icon btn btn-label btn-label-brand btn-bold"
              data-toggle="kt-tooltip"
              title="Calendar"
              data-placement="top"
              ><i class="flaticon2-hourglass-1"></i
            ></a>
            <div
              class="dropdown dropdown-inline"
              data-toggle="kt-tooltip"
              title="Quick actions"
              data-placement="top"
            >
              <a
                href="#"
                class="btn btn-icon btn btn-label btn-label-brand btn-bold"
                data-toggle="dropdown"
                data-offset="0px,0px"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="flaticon2-add-1"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                <ul class="kt-nav kt-nav--active-bg" role="tablist">
                  <li class="kt-nav__item">
                    <a href="" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-psd"></i>
                      <span class="kt-nav__link-text">Document</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a class="kt-nav__link" role="tab">
                      <i class="kt-nav__link-icon flaticon2-supermarket"></i>
                      <span class="kt-nav__link-text">Message</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-shopping-cart"></i>
                      <span class="kt-nav__link-text">Product</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a class="kt-nav__link" role="tab">
                      <i class="kt-nav__link-icon flaticon2-chart2"></i>
                      <span class="kt-nav__link-text">Report</span>
                      <span class="kt-nav__link-badge">
                        <span
                          class="
                            kt-badge
                            kt-badge--danger
                            kt-badge--inline
                            kt-badge--rounded
                          "
                          >pdf</span
                        >
                      </span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-sms"></i>
                      <span class="kt-nav__link-text">Post</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-avatar"></i>
                      <span class="kt-nav__link-text">Customer</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <a
              href="#"
              class="btn btn-sm btn-elevate btn-brand btn-elevate"
              id="kt_dashboard_daterangepicker"
              data-toggle="kt-tooltip"
              title=""
              data-placement="left"
              data-original-title="Select dashboard daterange"
            >
              <span class="kt-opacity-7" id="kt_dashboard_daterangepicker_title"
                >Today:</span
              >&nbsp;
              <span class="kt-font-bold" id="kt_dashboard_daterangepicker_date"
                >Jan 12</span
              >
              <i
                class="
                  flaticon-calendar-with-a-clock-time-tools
                  kt-padding-l-5 kt-padding-r-0
                "
              ></i>
            </a>
          </div>
        </div>
        <!-- end::toolbar -->
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Main content -->
    <div
      class="
        kt-container kt-container--fluid
        kt-grid__item kt-grid__item--fluid
      "
      th:each="item : ${list_study}"
    >
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-lg-4" th:each="item : ${session.listDM}">
              <!--begin::Portlet-->
              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                      <i class="fas fa-user-circle"></i>
                    </span>

                    <h3 class="kt-portlet__head-title">
                      Random ID: <span th:text="${item.scrno}"></span>
                    </h3>
                  </div>
                  <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                      <button
                        type="button"
                        class="btn btn-clean btn-sm btn-icon btn-icon-md"
                      >
                        <i class="la la-cog"></i>
                      </button>
                      &nbsp;
                      <button
                        type="button"
                        class="btn btn-default btn-sm btn-bold btn-upper"
                      >
                        VIEW
                      </button>
                    </div>
                  </div>
                </div>
                <div class="kt-portlet__body">
                  <div class="kt-portlet__content">
                    <div class="form-group form-group-xs row">
                      <label class="col-6 col-form-label">Screening No.</label>
                      <div class="col-6">
                        <span
                          class="form-control-plaintext kt-font-bolder"
                          th:text="${item.subjid}"
                        ></span>
                      </div>
                    </div>

                    <div class="form-group form-group-xs row">
                      <label class="col-6 col-form-label"
                        >Randomization No.</label
                      >
                      <div class="col-6">
                        <span
                          class="form-control-plaintext kt-font-bolder"
                          th:text="${item.preid}"
                        ></span>
                      </div>
                    </div>

                    <div class="form-group form-group-xs row">
                      <label class="col-6 col-form-label"
                        >Informed consent</label
                      >
                      <div class="col-6">
                        <span
                          class="form-control-plaintext kt-font-bolder"
                          th:text="${#calendars.format(item.entDt, session.dateFormat)}"
                        ></span>
                      </div>
                    </div>

                    <div class="form-group form-group-xs row">
                      <label class="col-6 col-form-label">Age / Gender</label>
                      <div class="col-6">
                        <span class="form-control-plaintext"
                          ><span class="kt-font-bolder">20 / Male</span></span
                        >
                      </div>
                    </div>

                    <div class="form-group form-group-xs row">
                      <label class="col-6 col-form-label">Status</label>
                      <div class="col-6">
                        <span class="form-control-plaintext"
                          ><span
                            class="
                              kt-badge
                              kt-badge--inline
                              kt-badge--primary
                              kt-badge--bold
                            "
                            >Ongoing</span
                          ></span
                        >
                      </div>
                    </div>

                    <div class="form-group form-group-xs row">
                      <label class="col-6 col-form-label">Last visit</label>
                      <div class="col-6">
                        <span
                          class="form-control-plaintext kt-font-bolder"
                          th:text="${#calendars.format(item.entDt, session.dateFormat)}"
                        ></span>
                      </div>
                    </div>

                    <div class="form-group form-group-xs row">
                      <label class="col-6 col-form-label">Data entry</label>
                      <div class="col-6 form-control-plaintext">
                        <div class="progress">
                          <div
                            class="progress-bar bg-danger progress-bar-striped"
                            role="progressbar"
                            style="width: 80%"
                            aria-valuenow="80"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            80%
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group form-group-xs row">
                      <label class="col-6 col-form-label"
                        >Query resolution:</label
                      >
                      <div class="col-6 form-control-plaintext">
                        <div class="progress">
                          <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 70%"
                            aria-valuenow="30"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            70%
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Portlet-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Main content -->
  </div>
</html>
